/* nav_animation */

	@-moz-keyframes nav_animation {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	@-webkit-keyframes nav_animation {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	@-ms-keyframes nav_animation {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	@keyframes nav_animation {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	@-moz-keyframes nav-icons {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	@-webkit-keyframes nav-icons {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	@-ms-keyframes nav-icons {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	@keyframes nav-icons {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	.nav_animation {
		-moz-animation: nav_animation 1s 2.25s forwards;
		-webkit-animation: nav_animation 1s 2.25s forwards;
		-ms-animation: nav_animation 1s 2.25s forwards;
		animation: nav_animation 1s 2.25s forwards;
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
		-moz-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		cursor: default;
		display: inline-block;
		opacity: 0;
		/*position: relative;*/
		/*position: absolute;*/
		text-align: center;
		/*top: -1em;*/
		vertical-align: middle;
		/*width: 90%;*/
	}

		.nav_animation h1 {
			font-size: 2.35em;
			font-weight: 900;
			letter-spacing: -0.035em;
			line-height: 1em;
		}

		.nav_animation p {
			font-size: 1.25em;
			margin: 0.75em 0 0.25em 0;
			opacity: 0.75;
		}

		.nav_animation nav {
			margin: 1.5em 0 0 0;
		}

			.nav_animation nav li {
				-moz-animation: nav-icons 0.5s ease-in-out forwards;
				-webkit-animation: nav-icons 0.5s ease-in-out forwards;
				-ms-animation: nav-icons 0.5s ease-in-out forwards;
				animation: nav-icons 0.5s ease-in-out forwards;
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transform: translate3d(0,0,0);
				-webkit-transform: translate3d(0,0,0);
				-ms-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
				display: inline-block;
				height: 5.35em;
				line-height: 5.885em;
				opacity: 0;
				position: relative;
				top: 0;
				width: 5.35em;
			}

				.nav_animation nav li:nth-child(1) {
					-moz-animation-delay: 0.5s;
					-webkit-animation-delay: 0.5s;
					-ms-animation-delay: 0.5s;
					animation-delay: 0.5s;
				}

				.nav_animation nav li:nth-child(2) {
					-moz-animation-delay: 0.75s;
					-webkit-animation-delay: 0.75s;
					-ms-animation-delay: 0.75s;
					animation-delay: 0.75s;
				}

				.nav_animation nav li:nth-child(3) {
					-moz-animation-delay: 1s;
					-webkit-animation-delay: 1s;
					-ms-animation-delay: 1s;
					animation-delay: 1s;
				}

				.nav_animation nav li:nth-child(2) {
					-moz-animation-delay: 1.25s;
					-webkit-animation-delay: 1.25s;
					-ms-animation-delay: 1.25s;
					animation-delay: 1.25s;
				}

				.nav_animation nav li:nth-child(5) {
					-moz-animation-delay: 1.5s;
					-webkit-animation-delay: 1.5s;
					-ms-animation-delay: 1.5s;
					animation-delay: 1.5s;
				}

				.nav_animation nav li:nth-child(6) {
					-moz-animation-delay: 1.75s;
					-webkit-animation-delay: 1.75s;
					-ms-animation-delay: 1.75s;
					animation-delay: 1.75s;
				}

				.nav_animation nav li:nth-child(7) {
					-moz-animation-delay: 2s;
					-webkit-animation-delay: 2s;
					-ms-animation-delay: 2s;
					animation-delay: 2s;
				}

				.nav_animation nav li:nth-child(8) {
					-moz-animation-delay: 2.25s;
					-webkit-animation-delay: 2.25s;
					-ms-animation-delay: 2.25s;
					animation-delay: 2.25s;
				}

				.nav_animation nav li:nth-child(9) {
					-moz-animation-delay: 2.5s;
					-webkit-animation-delay: 2.5s;
					-ms-animation-delay: 2.5s;
					animation-delay: 2.5s;
				}

				.nav_animation nav li:nth-child(10) {
					-moz-animation-delay: 2.75s;
					-webkit-animation-delay: 2.75s;
					-ms-animation-delay: 2.75s;
					animation-delay: 2.75s;
				}

			.nav_animation nav a {
				-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
				-webkit-touch-callout: none;
				border: 0;
				display: inline-block;
			}

				.nav_animation nav a:before {
					-moz-transition: all 0.2s ease-in-out;
					-webkit-transition: all 0.2s ease-in-out;
					-ms-transition: all 0.2s ease-in-out;
					transition: all 0.2s ease-in-out;
					border-radius: 100%;
					border: solid 1px #fff;
					display: block;
					font-size: 1.75em;
					height: 2.5em;
					line-height: 2.5em;
					position: relative;
					text-align: center;
					top: 0;
					width: 2.5em;
				}

				.nav_animation nav a:hover {
					font-size: 1.1em;
				}

					.nav_animation nav a:hover:before {
						background-color: rgba(255, 255, 255, 0.175);
						color: #fff;
					}

				.nav_animation nav a:active {
					font-size: 0.95em;
					background: none;
				}

					.nav_animation nav a:active:before {
						background-color: rgba(255, 255, 255, 0.35);
						color: #fff;
					}

				.nav_animation nav a span {
					display: none;
				}